apiVersion: apps/v1
kind: Deployment
metadata:
  name: website-deploy
spec:
  replicas: 2
  selector:
    matchLabels:
      app: website
  template:
    metadata:
      labels:
        app: website
    spec:
      containers:
      - name: website
        image: YOUR_DOCKERHUB/website:latest
        ports:
        - containerPort: 80
